<mat-accordion>
        <mat-expansion-panel [disabled]="clickButton" (click)="clickButton=false"  *ngFor = "let user of users$ ">
            <mat-expansion-panel-header >
                <mat-panel-title>
                   {{user.id}})  {{user.name}}
                </mat-panel-title>
                <mat-panel-description >
                  <button mat-raised-button color="primary" (click)="addaccount(user.id,user.email)">Create Account</button> 
                </mat-panel-description>
            </mat-expansion-panel-header> 
            <!-- <div >
                <button mat-raised-button color="primary" (click)="add(post.title,post.body,post.id)">ADD TO FIRESTORE</button>
            </div> -->
            Email: {{user.email}}<br>
            Phone: {{user.phone}} 

        </mat-expansion-panel>
    </mat-accordion>
    