<div *ngIf = "!(uss$ | async)">Loading...</div>


<mat-list role="list" *ngFor = "let uss of uss$ | async">
  <mat-list-item role="listitem">ID: {{uss.uid}} <br> Email: {{uss.email}}</mat-list-item>

</mat-list>
